<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card lesson-border">
    <input type="text" name="link" [(ngModel)]="link" value="" />
    <input type="text" name="name" [(ngModel)]="name" value="" />
    <input type="text" name="desc" [(ngModel)]="desc" value="" />
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="sendData()">Kaydet</button>
</div>
